%btn {
	padding: 10px 35px;
	border: 1px solid gainsboro;
	border-radius: 999px;
	transition: background-color 0.5s ease-in-out;
	margin-right: 15px;
	&:hover {
		color: gainsboro;
		background-color: black;
	}
}
