@import "_variables";

* {
	box-sizing: border-box;
}
a {
	all: unset;
}

body {
	width: 100%;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	padding-top: 50px;
	background-color: white;
}

header {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: white;
	nav {
		position: relative;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 2fr 1fr;
		justify-content: space-between;
		align-items: center;

		.header-panel {
			position: absolute;
			grid-column: 1/2;
			width: 100%;
			top: 0;
			left: 0;
			min-height: 100vh;
			background-color: gainsboro;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			overflow-y: scroll;
			i {
				position: absolute;
				top: 15px;
				right: 15px;
				cursor: pointer;
				font-size: 30px;
				font-weight: 600;
				transition: transform 0.5s ease-in-out;
				&:hover {
					transform: rotateZ(90deg);
				}
			}
			div {
				padding: 15px 200px 20px 15px;
				width: 100%;
				border-bottom: 1px solid black;
				display: grid;
				grid-template-columns: 2.5fr 10fr;

				div {
					padding: 0;
					border: none;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					h1 {
						font-size: 30px;
					}
					p {
						font-size: 30px;
					}
				}
				div:last-child {
					width: 500px;
				}
			}
		}
		ul {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			font-size: 30px;
			cursor: pointer;
		}
		ul:first-child {
			color: gainsboro;
			li {
				margin-right: 30px;

				&:first-child {
					margin-left: 20px;
					margin-right: 120px;
					color: black;
				}
			}
			&:hover {
				background-color: gainsboro;
				color: white;
			}
		}
		ul:nth-child(2) {
			color: black;
			li {
				margin-left: 20px;
				margin-right: 60px;
				&:last-child {
					margin-bottom: 10px;
					align-self: flex-end;
					margin-left: auto;
					font-size: 15px;
				}
			}
			&:hover {
				background-color: gainsboro;
			}
		}
	}
}
main {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 460px;
	article {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		div {
			padding-left: 15px;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: 17px;
		}
	}
}
